
footer {
    background-color: rgba(34, 8, 8, 0.897);
    color: $color-bg-nav;
    width: 100%;
            
        p {

            a{
               
                text-decoration: none;
                color: $color-bg-nav;

                &:hover {
                    color: red;
                }


            }


    }

    @media only screen and (max-width: 759px) {
        img {
            margin: -30px;
            padding: 20px;
            width: 9em;
            height: 10em;
        }

 }

}