@import '../base/mixins';
@import '../base/variables';
footer {
    background-color: rgba(34, 8, 8, 0.897);
    color: $color-bg-nav;
    width: 100%;
            
    }


.lista-footer {
    list-style: none;
    font-family: $font-family;
    font-size: 17px;

    a {

        text-decoration: none;
        color: $color-bg-nav;

    }

}